<h1>Editing article</h1>
 
<%= form_tag :function, url: function_path(@function), method: :put do |f| %>
 
  <% if @function.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@function.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @afunction.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <p>
    <%= label_tag(:function, "fecha:") %>
    <%= date_field(:function, :date_function) %>
  </p>
  <p>
    <%= label_tag(:function, "hora:") %>
    <%= time_field(:function, :tine_function) %>
  </p>
  <p>
    <%= label_tag(:id_movie, "Pelicula:") %>
    <%=collection_select(:function, :movie_id, Movie.all, :id, :title) %>
  </p>
  <p>
    <%= label_tag(:id_sala, "Sala:") %>
    <%=collection_select(:function, :sala_id, Sala.all, :id, :name) %>
  </p>
 

  <p>
    <%= submit_tag "Enviar" %>
  </p>
 
<% end %>
 
<%= link_to 'Back', function_path %>